html {
    background-color: antiquewhite;
}

h1{
    color: whitesmoke;
    background-color: darkseagreen;
}

h2 , h3  {
    color: whitesmoke;
    background-color: rgb(193, 215, 208);
}

b{
    color: #84512a;
}